extends layout

block content
  main
    section#top
      #bio
        #bio-name
          h1 #{user.firstName} #{user.lastName}
        #bio-details
          span #{user.memberStatus}, #{user.house} house
      #point-stats-div
        table#point-stats
          thead
            th Event Type
            th.right Total
            th.right Required
          for stat in pointStats
            if stat.fulfilled
              tr.fulfilled
                td= stat.type
                td.right= stat.total
                td.right= stat.required
            else
              tr.unfulfilled
                td= stat.type
                td.right= stat.total
                td.right= stat.required
    section#events
      h2 Events
      table#history
        thead
          th Name
          th Points
          th Type
          th Date
        tbody
          for event in user.history
            tr
              td= event.name
              td.center= event.points
              td= event.type
              td= event.datetime
          else
            li no events attended